* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Quicksand", sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f9fe;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

textarea {
  resize: none;
  padding: 10px;
}
textarea:focus-visible {
  outline: none;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to right, #c72092, #6c14d0);
  color: white;
  box-shadow: 0 0 8px #d0147f;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1);
}

/** SCROLL UP BUTTON */
.backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  border: none;
  outline: none;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
.backToTopBtn i {
  font-size: 40px;
  color: #fa009e;
}

.show {
  visibility: visible;
  opacity: 1;
}

header .info {
  background-color: #212121;
  color: rgb(255, 0, 153);
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 0;
}
header .navbar-toggler {
  background-color: #2a73dd;
  color: #f5f9fe;
}
header .navbar-brand {
  color: #121212;
  font-size: 2.25rem;
  font-weight: 700;
}
header .icon {
  margin-left: 50px;
}
header .icon .fa-solid {
  color: #121212;
  font-size: 1.8rem;
  padding: 10px;
  transition: all 0.5s;
}
header .icon .fa-solid:hover {
  color: rgb(255, 0, 153);
}
header .icon .fa-solid:hover::after {
  transform: scaleX(1);
}
header .navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
header .fa-angle-down {
  font-size: 11px;
}
header #shoesNav .nav-link {
  color: #121212;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 25px;
  transition: all 0.5s;
}
header #shoesNav .nav-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(255, 0, 153);
  display: block;
  transform: scaleX(0);
  transition: all 0.5s;
}
header #shoesNav .nav-link:hover {
  color: rgb(255, 0, 153);
}
header #shoesNav .nav-link:hover::after {
  transform: scaleX(1);
}
header #shoesNav .active .nav-link {
  color: rgb(255, 0, 153);
}
header #shoesNav .active .nav-link::after {
  height: 1px;
  transform: scaleX(1);
}

header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 992px) {
  header .nav-link {
    text-align: center;
  }
  header .navbar-toggler {
    padding: 0;
    width: 34px;
    height: 34px;
    background-color: #121212;
    border-radius: 4px;
    text-align: center;
  }
  header i::before {
    color: rgb(255, 0, 153);
  }
}
@media screen and (max-width: 768px) {
  header .nav-link {
    text-align: center;
  }
  header .navbar-toggler {
    padding: 0;
    width: 34px;
    height: 34px;
    background-color: #121212;
    border-radius: 4px;
    text-align: center;
  }
  header i::before {
    color: rgb(255, 0, 153);
  }
}
@media screen and (max-width: 576px) {
  header .nav-link {
    text-align: center;
  }
  header .navbar-toggler {
    padding: 0;
    width: 34px;
    height: 34px;
    background-color: #121212;
    border-radius: 4px;
    text-align: center;
  }
  header i::before {
    color: rgb(255, 0, 153);
  }
}
.carouselShoes {
  background-size: cover;
  background-position: center bottom;
  padding: 10px;
}

.productsShoes {
  margin: 30px;
}
.productsShoes h1 {
  margin: 35px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #121212;
  font-size: 50px;
  font-weight: 800;
}
.productsShoes .box {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.productsShoes .card {
  width: 265px;
  height: 440px;
  box-shadow: 0 0 6px #d0147f;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  background: #e7e7e7;
}
.productsShoes .box .card .small_card {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: 10px 0;
  transform: translateX(-20px);
  transition: 0.3s;
  opacity: 0;
}
.productsShoes .box .card:hover .small_card {
  transform: translateX(2px);
  cursor: pointer;
  opacity: 1;
}
.productsShoes .box .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsShoes .box .card .image img {
  width: 150px;
  margin: 15px 0;
  transition: 0.3s;
}
.productsShoes .box .card:hover .image img {
  transform: scale(1.1);
}
.productsShoes .box .card .small_card i {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  margin: 2px 0;
  line-height: 40px;
  border: 2px solid #999999;
  transition: 0.2s;
}
.productsShoes .small_card i:hover {
  color: #c72092;
}
.productsShoes .products_text h2 {
  font-size: 30px;
  margin-top: 15px;
}
.productsShoes .products_text p {
  color: #a8a8a8;
  line-height: 21px;
  margin: 8px 0;
}
.productsShoes h3 {
  margin: 7px 0;
}
.productsShoes .products_star {
  color: orange;
  margin-bottom: 19px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .productsShoes h1 {
    text-align: center;
  }
  .productsShoes .box {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .productsShoes h1 {
    text-align: center;
  }
  .productsShoes .box {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .productsShoes h1 {
    text-align: center;
  }
  .productsShoes .box {
    text-align: center;
  }
}
/* FOOTER */
.shoesFooter {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.shoesFooter .footer-col-1 .footer-logo .navbar-brand {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  line-height: 47px;
  opacity: 1;
}
.shoesFooter .footer-col-1 .footer-logo .navbar-brand a p {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  vertical-align: bottom;
  opacity: 1;
}

.shoesFooter .footer-col-1 .footer-logo span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 40px;
  opacity: 0.9;
  text-transform: none;
}

.shoesFooter .footer-col-1 p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}

.shoesFooter .footer-col-1 .footer-social a {
  color: #97a1a9;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background: none;
  margin-right: 15px;
  font-size: 16px;
  border-radius: 50%;
  transition: all 0.3s;
  opacity: 0.6;
}

.shoesFooter .footer-col-1 .footer-social a:hover {
  color: rgb(255, 0, 153);
  opacity: 1;
}

.shoesFooter .footer-col h5 {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

.shoesFooter .footer-col ul {
  list-style: none;
}

.shoesFooter .footer-col li {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}

.shoesFooter .footer-col a {
  text-decoration: none;
  color: #97a1a9;
  opacity: 0.8;
  transition: all 0.3s;
}

.shoesFooter .footer-col a:hover {
  color: rgb(255, 0, 153);
  opacity: 1;
}

/* COPYRIGHT */
.Copyright {
  padding: 10px;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.Copyright p {
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin: 0;
  opacity: 1;
}

.Copyright a {
  text-decoration: none;
  color: rgb(255, 0, 153);
  transition: all 0.3s;
}
.Copyright a:hover {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .shoesFooter .footer-col-1 {
    text-align: center;
  }
  .shoesFooter .Copyright {
    text-align: center;
  }
}
#my-cart .cart h1 {
  font-size: 30px;
  font-weight: normal;
  color: #272727;
  letter-spacing: 0;
}
#my-cart .cart .cart__detail {
  background-color: #fafafa;
  padding: 15px;
}
#my-cart .cart .cart__detail .cart--table {
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 1rem;
}
#my-cart .cart .cart__detail .cart--table .item--size {
  color: #777;
  font-size: 13px;
}
#my-cart .cart .cart__detail .cart--table .num--total {
  color: #a73340;
  font-weight: bold;
}
#my-cart .cart .continute--buy {
  transition: all 0.5s;
}
#my-cart .cart .continute--buy:hover {
  color: rgb(199, 21, 133);
}
#my-cart .cart .cart__total {
  border: 1px solid #dfe0e1;
  padding: 15px;
}
#my-cart .cart .cart__total h3 {
  font-size: 17px;
  font-weight: bold;
  color: #272727;
  letter-spacing: 1px;
  border-bottom: 1px dotted #dfe0e1;
}
#my-cart .cart .cart__total .total--pay {
  border-bottom: 1px dotted #dfe0e1;
  font-size: 14px;
  font-weight: bold;
  color: #272727;
  letter-spacing: 0;
}
#my-cart .cart .cart__total p {
  font-size: 14px;
  font-weight: normal;
  color: #777;
  letter-spacing: 0;
}
#my-cart .cart .cart__total button {
  position: relative;
  background-color: transparent;
  padding: 10px 35px;
  border: 1px solid #000;
}
#my-cart .cart .cart__total button:focus {
  outline: 5px auto;
  outline-offset: -2px;
}
#my-cart .cart .cart__total button span {
  color: white;
  position: relative;
  font-size: 14px;
}
#my-cart .cart .cart__total button:hover span {
  color: #000;
}
#my-cart .cart .cart__total button::before {
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
  content: "";
  height: 100%;
  width: 100%;
  transition: width 0.25s ease-in 0s;
}
#my-cart .cart .cart__total button:hover::before {
  width: 0;
}
#my-cart .cart .btn {
  padding: 10px 13px;
}
#my-cart .product-relative h2, #my-cart .experience h2 {
  font-size: 28px;
  font-weight: normal;
  color: #272727;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
#my-cart .product-relative h2::after, #my-cart .experience h2::after {
  content: "";
  position: absolute;
  background: #000;
  display: block;
  width: 55px;
  height: 1px;
  margin: 20px auto;
  left: 0;
  right: 0;
}
#my-cart .gallery-item img {
  border-bottom: solid 1px #dfe0e1;
}
#my-cart .gallery-item .card-body {
  background-color: #fafafa;
}
#my-cart .gallery-item .card-body h5 {
  font-size: 1rem;
}
#my-cart .gallery-item .card-body p {
  font-weight: bold;
}

@media screen and (max-width: 1198.98px) {
  #my-cart {
    font-size: 0.875rem;
  }
  #my-cart h1 {
    font-size: 27px !important;
  }
  #my-cart .num-select .input-group {
    width: 120%;
  }
}
@media screen and (max-width: 767.98px) {
  #my-cart .num-select .input-group {
    width: 50%;
    margin-left: 2rem;
  }
  #my-cart .product-relative h2, #my-cart .experience h2 {
    font-size: 25px;
  }
  #my-cart .product-relative h2::after, #my-cart .experience h2::after {
    width: 45px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 575.98px) {
  #my-cart h1 {
    font-size: 25px !important;
  }
  #my-cart .product-relative h2, #my-cart .experience h2 {
    font-size: 20px;
  }
  #my-cart .product-relative h2::after, #my-cart .experience h2::after {
    width: 40px;
    margin: 8px auto;
  }
  #my-cart .num-select .input-group {
    width: 55%;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 375.98px) {
  #my-cart .cart .btn {
    padding: 7px 10px;
  }
}
#my-detail-item .detail__left .col-2 img {
  border: 1px solid #dfe0e1;
  margin-bottom: 10px;
}
#my-detail-item .detail__left .col-2 img:hover {
  border-color: #272727;
}
#my-detail-item .detail__left .col-10 img {
  border: 1px solid #dfe0e1;
  margin-bottom: 10px;
}
#my-detail-item .detail__right h2 {
  font-size: 20px;
  font-weight: bold;
  color: #272727;
  letter-spacing: 0;
  padding: 0 0 10px;
  border-bottom: 1px dotted #dfe0e1;
}
#my-detail-item .detail__right .price-item {
  font-size: 18px;
  font-weight: bold;
  color: #272727;
  letter-spacing: 0;
  padding: 10px 0;
  border-bottom: 1px dotted #dfe0e1;
  display: block;
}
#my-detail-item .detail__right .select-size {
  padding: 10px 0;
  border-bottom: 1px dotted #dfe0e1;
}
#my-detail-item .detail__right .select-size .btn-secondary {
  background-color: white;
  color: #272727;
}
#my-detail-item .detail__right .select-size .btn-secondary:hover, #my-detail-item .detail__right .select-size .btn-secondary:focus {
  background-color: #272727;
  color: white;
  box-shadow: none;
}
#my-detail-item .detail__right .num-select .form-control {
  width: 15%;
  flex: none;
}
#my-detail-item .detail__right .num-select .form-control:focus {
  box-shadow: none;
}
#my-detail-item .detail__right .btn-add-card {
  position: relative;
  background-color: transparent;
  padding: 10px 35px;
  border: 1px solid rgb(199, 21, 133);
}
#my-detail-item .detail__right .btn-add-card:focus {
  outline: 5px auto;
  outline-offset: -2px;
}
#my-detail-item .detail__right .btn-add-card span {
  color: white;
  position: relative;
  font-size: 14px;
}
#my-detail-item .detail__right .btn-add-card:hover span {
  color: #000;
}
#my-detail-item .detail__right .btn-add-card::before {
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(199, 21, 133);
  content: "";
  height: 100%;
  width: 100%;
  transition: width 0.25s ease-in 0s;
}
#my-detail-item .detail__right .btn-add-card:hover::before {
  width: 0;
}
#my-detail-item .product-relative h2, #my-detail-item .experience h2 {
  font-size: 28px;
  font-weight: normal;
  color: #272727;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
#my-detail-item .product-relative h2::after, #my-detail-item .experience h2::after {
  content: "";
  position: absolute;
  background: #000;
  display: block;
  width: 55px;
  height: 1px;
  margin: 20px auto;
  left: 0;
  right: 0;
}
#my-detail-item .gallery-item img {
  border-bottom: solid 1px #dfe0e1;
}
#my-detail-item .gallery-item .card-body {
  background-color: #fafafa;
}
#my-detail-item .gallery-item .card-body h5 {
  font-size: 1rem;
}
#my-detail-item .gallery-item .card-body p {
  font-weight: bold;
}

@media screen and (max-width: 767.98px) {
  #my-detail-item .product-relative h2, #my-detail-item .experience h2 {
    font-size: 25px;
  }
  #my-detail-item .product-relative h2::after, #my-detail-item .experience h2::after {
    width: 45px;
    margin: 10px auto;
  }
}
@media screen and (max-width: 575.98px) {
  #my-detail-item .product-relative h2, #my-detail-item .experience h2 {
    font-size: 20px;
  }
  #my-detail-item .product-relative h2::after, #my-detail-item .experience h2::after {
    width: 40px;
    margin: 8px auto;
  }
}
#my-register .register h1 {
  font-size: 38px;
  font-weight: bold;
  color: #272727;
  letter-spacing: 2px;
}
#my-register .register h1::after {
  content: "";
  background: #000;
  display: block;
  width: 60px;
  height: 4px;
  margin-top: 30px;
}
#my-register .register .register__form {
  padding: 0 15px;
}
#my-register .register .register__form input[type=text], #my-register .register .register__form input[type=password] {
  height: 55px;
  background: #ededed;
  color: #272727;
  padding: 0 20px;
  border-radius: 0;
}
#my-register .register .register__form input[type=text]:focus, #my-register .register .register__form input[type=password]:focus {
  border-color: #ededed;
  box-shadow: none;
  background: #fff;
}
#my-register .register .register__form .form-check-input:checked {
  background-color: black;
  border-color: #000;
}
#my-register .register .register__form .form-check-input:checked:focus {
  box-shadow: none;
}
#my-register .register .register__form span {
  color: red;
  margin-top: 5px;
  display: block;
}
#my-register .register .register__form button {
  position: relative;
  background-color: transparent;
  padding: 10px 35px;
  border: 1px solid #000;
}
#my-register .register .register__form button:focus {
  outline: 5px auto;
  outline-offset: -2px;
}
#my-register .register .register__form button span {
  color: white;
  position: relative;
  font-size: 14px;
}
#my-register .register .register__form button:hover span {
  color: #000;
}
#my-register .register .register__form button::before {
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
  content: "";
  height: 100%;
  width: 100%;
  transition: width 0.25s ease-in 0s;
}
#my-register .register .register__form button:hover::before {
  width: 0;
}
#my-register .register .register__form .return-home a {
  transition: all 0.5s;
}
#my-register .register .register__form .return-home a:hover {
  color: rgb(199, 21, 133);
}
#my-register .experience h2 {
  font-size: 28px;
  font-weight: normal;
  color: #272727;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
#my-register .experience h2::after {
  content: "";
  position: absolute;
  background: #000;
  display: block;
  width: 55px;
  height: 1px;
  margin: 20px auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 991.98px) {
  #my-register .register h1::after {
    margin: 20px auto;
  }
}
@media screen and (max-width: 767.98px) {
  #my-register .register h1 {
    font-size: 30px;
  }
  #my-register .register h1::after {
    width: 40px;
    height: 2px;
    margin-top: 10px;
  }
  #my-register .experience h2 {
    font-size: 25px;
  }
  #my-register .experience h2::after {
    width: 40px;
    margin: 8px auto;
  }
}
@media screen and (max-width: 575.98px) {
  #my-register .register h1 {
    font-size: 22px;
  }
  #my-register .register h1::after {
    width: 30px;
  }
  #my-register .experience h2 {
    font-size: 20px;
  }
  #my-register .experience h2::after {
    width: 45px;
    margin: 10px auto;
  }
}