//Khai báo mixin
@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin style-Text($fntSize,$fntWeight,$color,$letSpace){
    font-size: $fntSize;
    font-weight:$fntWeight ;
    color:$color ;
    letter-spacing:$letSpace ;
    }

@mixin styleButton($bg, $pd, $pd2, $border, $radius) {
    background: $bg;
    padding: $pd $pd2;
    border: $border;
    border-radius: $radius;
    transition: all 0.5s;
}

@mixin styleButtonHover($bg, $bd-color, $color) {
    background: $bg;
    border-color: $bd-color;
    color:$color ;
}

@mixin resposive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        //tìm thấy màn hình
        $value: map-get($map: $breakpoints, $key: $screen);
        //CSS3
        @media screen and (max-width:$value){
            @content;
        }
    }
    
}