/* FOOTER */
.shoesFooter {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    .footer-col-1 .footer-logo .navbar-brand {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 45px;
        font-weight: 500;
        line-height: 47px;
        opacity: 1;
        a p {
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            display: inline-block;
            text-transform: capitalize;
            vertical-align: bottom;
            opacity: 1;
        }
    }
}

.shoesFooter .footer-col-1 .footer-logo span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding-left: 40px;
    opacity: 0.9;
    text-transform: none;
}

.shoesFooter .footer-col-1 p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.shoesFooter .footer-col-1 .footer-social a {
    color: #97a1a9;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: none;
    margin-right: 15px;
    font-size: 16px;
    border-radius: 50%;
    transition: all 0.3s;
    opacity: 0.6;
}

.shoesFooter .footer-col-1 .footer-social a:hover {
    color: $color-pink-1;
    opacity: 1;
}

.shoesFooter .footer-col h5 {
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.shoesFooter .footer-col ul {
    list-style: none;
}

.shoesFooter .footer-col li {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.shoesFooter .footer-col a {
    display: contents;
    text-decoration: none;
    color: #97a1a9;
    opacity: 0.8;
    transition: all 0.3s;
}

.shoesFooter .footer-col a:hover {
    color: $color-pink-1;
    opacity: 1;
}

/* COPYRIGHT */
.Copyright {
    padding: 10px;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    p {
        justify-content: center;
        color: #7f8a94;
        display: flex;
        font-size: 17px;
        letter-spacing: 0.5px;
        margin: 0;
        opacity: 1;
    }
}

.Copyright a {
    text-decoration: none;
    padding-left: 10px;
    color: $color-pink-1;
    transition: all 0.3s;
    &:hover {
        color: #fff;
    }
}


@include resposive("large") {
    .shoesFooter {
        .footer-col-1 {
            text-align: center;
        }
        .Copyright {
            text-align: center;
        }
    }
}