header {
    .info {
        background-color: $color-dark-4;
        color: $color-pink-1;
        padding: $pd-1;
        font-size: $fs-2;
        margin-bottom: 0;
    }
    .navbar-toggler {
            color: $color-white-1;
    }
    .navbar-brand {
        @include styleText($color-dark-2, $fs-6, $fw-3);
    }
    .icon {
        // margin-left: 50px;
        justify-content: space-evenly;
        display: flex;
        .fa-solid {
            color: $color-dark-2;
            font-size: $fs-3;
            padding: $pd-1;
            transition: all 0.5s;

            &:hover {
                //đã hover
                color: $color-pink-1;
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        // margin-right: 100px;
        // margin-left: 300px;
    }
   .fa-angle-down {
    font-size: 11px;
   }


#shoesNav {
    .nav-link {
        //chưa hover
        @include styleText($color-dark-2, $fs-2, $fw-1);
        padding: $pd-2;
        transition: all 0.5s;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-pink-1;
            display: block;
            transform: scaleX(0);
            transition: all 0.5s;
        }

        &:hover {
            //đã hover
            color: $color-pink-1;
            &::after {
                transform: scaleX(1);
            }
        }
    }

    // .active .nav-link
    .active {
        .nav-link {
            color: $color-pink-1;
            // .active .nav-link::after
            &::after {
                height: 1px;
                transform: scaleX(1);
            }
        }
    }
}
}

header {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);

}

.dropdown-toggle{
    color: #fff;
    border-color: #4e555b;
    box-shadow: none;
    border: none;
    &:hover {
        border-color:none;
        background-color: $color-white-1;
    }
}

 .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.input-group {
    
    align-items: center;
    width: 320px;
    margin-left: 12px;

}

.dropdown-menu {
   
    width: 350px;
}

.dropdown-item {
    font-size: $fs-2;
    font-weight: 600;
    color: #121212;
    border: 0;
}

.form-control {
    height: 56px;
    font-size: $fs-2;
    font-weight: 400;
    line-height: 1.5;
}

.input-group-text {
  
    color: #fff ;
    text-align: center;
    white-space: nowrap;
    background-color: #121212;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.dropdown-menu .input-group-append .icon-search {
    color: #fff;
    font-weight: 800;
    font-size: $fs-3;
}






//-------resposive-------

@include resposive("large") {
    header {
        .nav-link {
            text-align: center;
        }
        .navbar-toggler {
            padding: 0;
            width: 34px;
            height: 34px;
            background-color: $color-dark-2;
            border-radius: 4px;
            text-align: center;
        }
        i::before {
            color: $color-pink-1;
        }
        
    }
}

@include resposive("medium") {
    header {
        .nav-link {
            text-align: center;
        }
        .navbar-toggler {
            padding: 0;
            width: 34px;
            height: 34px;
            background-color: $color-dark-2;
            border-radius: 4px;
            text-align: center;
        }
        i::before {
            color: $color-pink-1;
        }
    }
}


@include resposive("small") {
    header {
        .nav-link {
            text-align: center;
        }
        .navbar-toggler {
            padding: 0;
            width: 34px;
            height: 34px;
            background-color: $color-dark-2;
            border-radius: 4px;
            text-align: center;
        }
        i::before {
            color: $color-pink-1;
        }
    }
}